﻿@page
@model IndexModel
@{
}


<div id="app" class="container">
    <div>
        <div v-if="!editing">
            <button class="button" @@click="newProduct">Add new Product</button>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Value</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr v-for="(product, index) in products">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.value}}</td>
                    <td><a @@click="editProduct(product.id, index)" style="cursor:pointer; text-decoration:underline;">Edit</a></td>
                    <td><a @@click="deleteProduct(product.id, index)" style="cursor:pointer; text-decoration:underline;">Delete</a></td>
                </tr>
            </table>
        </div>

        <div v-else>
            <div class="field">
                <label class="label">Product Name</label>
                <div class="control">
                    <input class="input" v-model="productModel.name" />
                </div>
            </div>
            <div class="field">
                <label class="label">Product Description</label>
                <div class="control">
                    <input class="input" v-model="productModel.description" />
                </div>
            </div>
            <div class="field">
                <label class="label">Product Value</label>
                <div class="control">
                    <input class="input" v-model="productModel.value" />
                </div>
            </div>
            <button class="button is-success" @@click="createProduct" v-if="!productModel.id">Create Product</button>
            <button class="button is-warning" @@click="updateProduct" v-else>Update Product</button>
            <button class="button" @@click="cancel">Cancel</button>
        </div>
    </div>
</div>



@section scripts {
    <script src="~/js/admin/products.js"></script>
}