﻿@page "{name}"
@model Shop.UI.Pages.ProductModel
@{
}


    <div>
        <p>@Model.Product.Name</p>
        <p>@Model.Product.Description</p>
        <p>@Model.Product.Value</p>

        <div>
            <form method="post">
                <label>Stock</label>
                <select asp-for="CartViewModel.StockId">
                    @foreach(var s in Model.Product.Stock)
                    {
                        <option value="@s.Id">@s.Description</option>
                    }
                </select>
                <label>Qty:</label>
                <input asp-for="CartViewModel.Qty" />
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>




