﻿@model LoginViewModel

@{

}


<form class="sign-in-form" asp-controller="Auth" asp-action="Login" method="post">
    <div>
        <label>Username</label>
        <input asp-for="UserName" />
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password"/>
    </div>
    <div>
        <input type="submit" value="Sign In" />
        <a asp-controller="Auth" asp-action="Register">Register</a>
    </div>
</form>