﻿@model RegisterViewModel

@{

}


    <form class="sign-in-form" asp-controller="Auth" asp-action="Register" method="post">
        <div>
            <label>Email</label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label>Password</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label>Confirm Password</label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div>
            <input type="submit" value="Sign Up" />
        </div>
    </form>