﻿@model IndexViewModel
<!-- IEnumerable<Post> was, but than start making paggination overrite it -->

@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "Awesome blog for me!!!";
    ViewBag.Keywords = "blog travel awesome";
    var base_path = Context.Request.PathBase;
}

<div class="main-img">
    <span class="title">Amazing blog site!!!</span>
</div>

<div class="container">

    <partial name="_BlogPagination" model="Model" />

    @foreach (var post in Model.Posts)
    {
        var image_path = $"{base_path}/Image/{post.Image}";

        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img src="@image_path">
            <span class="title">@post.Title</span>
        </a>
    }

    <partial name="_BlogPagination" model="Model" />

</div>