﻿@model IndexViewModel

<div class="pages">
    @if (Model.PageNumber > 1)
    {
        <a asp-controller="Home" asp-action="Index" asp-route-category="@Model.Category"
            asp-route-pageNumber="@(Model.PageNumber - 1)">&lt;</a>
    }

    @foreach (var p in Model.Pages)
    {
        if (p == -1)
        {
            <span class="three-dots">...</span>
        }
        else
        {
            <a class="@(p == Model.PageNumber ? "active" : "")"
                asp-controller="Home" asp-action="Index" asp-route-category="@Model.Category"
                asp-route-pageNumber="@p">@p</a>
        }
    }

    @if (Model.NextPage)
    {
        <a asp-controller="Home" asp-action="Index" asp-route-category="@Model.Category"
            asp-route-pageNumber="@(Model.PageNumber + 1)">&gt;</a>
    }
</div>