﻿body {
    margin: 0;
    background-color: aqua;
}


a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    background-color: #142127;
    height:50px;
    width:100%;
    text-align: center;
}

nav a {
    display: inline-block;
    padding: 15px;
}

.main-img {
    height: 500px;
    position: relative;
    background-image: url("../content/static/anti.jpeg");
    background-position: center;
    background-size: cover;
}

.title {
    position: absolute;
    color: white;
    font-size: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: 35%;
    text-shadow: 0 0 8px black;
}

.container {
    max-width: 800px;
    height: 100%;
    margin: auto;
}

.post {
    margin: 5px;
    box-shadow: 0 0 5px black;
    position: relative;
    height: 400px;
    display: flex;
}

.post img {
    width: 100%;
    object-fit: cover;
}

.post-body {
    margin: -5px 5px 0;
    padding: 20px 5px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.no-shadow {
    box-shadow: none;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

.pages a {
    padding: 0.5rem 0.75rem;
    background-color: grey;
    color: white;
    border: 1px solid #eee;
    margin: 0 0.25rem;
}

.pages a.active {
    background-color: #ccc;
}

.pages a:hover {
    background-color: #999;
    text-decoration: none;
}

.three-dots {
    line-height: 1;
    font-size: 24px;
}

.sign-in-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.sign-in-form div {
    max-width: 200px;
    width: 100%;
    margin-bottom: 1rem;
}